@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply bg-purple text-white;
  }

  fieldset {
    @apply m-0 border-0 p-0;
  }

  form {
    @apply flex w-full flex-col gap-5;
  }

  input {
    @apply m-0 flex h-10 w-full appearance-none items-center rounded border-2 border-purple-light bg-layer bg-opacity-10 pl-4 text-base shadow-none focus:outline-1 focus:outline-yellow disabled:opacity-50;
  }

  textarea {
    @apply m-0 flex h-20 w-full appearance-none items-center rounded border-2 border-purple-light bg-layer bg-opacity-10 pl-4 pt-2 text-base shadow-none focus:outline-1 focus:outline-yellow disabled:opacity-50;
  }

  ul {
    @apply list-inside list-disc;
  }

  a {
    @apply text-yellow hover:underline;
  }

  h1 {
    @apply font-display text-4xl;
  }

  h2 {
    @apply text-3xl;
  }

  h3 {
    @apply text-2xl;
  }

  h4 {
    @apply text-xl;
  }

  h5 {
    @apply text-lg;
  }
}


.skeleton-animation {
  background: rgba(130, 130, 130, 0.2);
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(8%, rgba(130, 130, 130, 0.2)),
    color-stop(18%, rgba(130, 130, 130, 0.3)),
    color-stop(33%, rgba(130, 130, 130, 0.2))
  );
  background: linear-gradient(
    to right,
    rgba(130, 130, 130, 0.2) 8%,
    rgba(130, 130, 130, 0.3) 18%,
    rgba(130, 130, 130, 0.2) 33%
  );
  background-size: 800px 100px;
  animation: wave-lines 2s infinite ease-out;
}

@keyframes wave-lines {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}
@keyframes wave-squares {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}
