@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'baloo';
  src: url('/fonts/baloo/baloo.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@layer base {
  html {
    @apply bg-purple text-white;
  }

  fieldset {
    @apply m-0 border-0 p-0;
  }

  form {
    @apply flex w-full flex-col gap-5;
  }

  input {
    @apply m-0 flex h-10 w-full appearance-none items-center rounded border-2 border-purple-light bg-layer bg-opacity-10 pl-4 text-base shadow-none focus:outline-1 focus:outline-yellow;
  }

  textarea {
    @apply m-0 flex h-20 w-full appearance-none items-center rounded border-2 border-purple-light bg-layer bg-opacity-10 pl-4 pt-2 text-base shadow-none focus:outline-1 focus:outline-yellow;
  }

  ul {
    @apply list-inside list-disc;
  }

  a {
    @apply text-yellow hover:underline;
  }

  h1 {
    @apply text-4xl;
  }

  h2 {
    @apply text-3xl;
  }

  h3 {
    @apply text-2xl;
  }

  h4 {
    @apply text-xl;
  }

  h5 {
    @apply text-lg;
  }
}
