@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'baloo';
  src: url('/fonts/baloo/baloo.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@layer base {
  html {
    @apply text-white;
  }

  a {
    @apply text-yellow hover:underline;
  }

  h1 {
    @apply text-4xl;
  }

  h2 {
    @apply text-3xl;
  }

  h3 {
    @apply text-2xl;
  }

  h4 {
    @apply text-xl;
  }

  h5 {
    @apply text-lg;
  }
}
